{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.css",
      "options": {"singleQuote": false}
    },
    {
      "files": "*.html",
      "options": {"printWidth": 120}
    }
  ]
}
